@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-05-07 09:59:40
 * @version $Id$
 */
.row1{

height: 50px;

padding-top: 20px;
}
.row1>.col-md-12,.row1>.col-xs-12{


}
.row1>.col-md-12>.row,.row1>.col-xs-12>.row{}
.row1>.col-md-12>.row>.col-md-8,.row1>.col-xs-12.row>.col-xs-10{

background-color: lightcyan;

height: 51px;

border: solid 2px cornflowerblue;

border-radius: 13px;

text-align: center;

font-size: 31px;

color: dodgerblue;
}
.row2{

}
.row2>.col-md-12,.row2>.col-xs-12{

}
.row2>.col-md-12>.row,.row2>.col-xs-12>.row{

}
.row2>.col-md-12>.row>.col-md-10,.row2>.col-xs-12>.row>.col-xs-10{

padding-top: 10px;
}
.row2>.col-md-12>.row>.col-md-10>label,.row2>.col-xs-12>.row>.col-xs-10>label{

width: 100px;

height: 50px;

background-color: darkseagreen;

font-size: 29px;

text-align: center;

border: solid 2px lightseagreen;

border-radius: 20px;
}
.row2>.col-md-12>.row>.col-md-10>a,.row2>.col-xs-12>.row>.col-xs-10>a{

color: yellowgreen;
}